footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  width: calc(100% - 4em);
  margin-top : 40px;
  display: flex; 
  justify-content: space-between;
  padding: 3em 0;

  span {
    color: #ea212d;
  }

  span:hover {
    color: #FAA31A;
  }

  a {
    color: #ea212d;
  
    &:hover {
      color: #FAA31A;
      opacity: 0.75;
    }
  }
}